.class {
  display: flex;
  width: 100wh;
  height: 100vh;
  justify-content: start;
  align-items: flex-start;
}

.accordion {
  width: 500px;
}

.item_div {
  background-color: cyan;
  margin-bottom: 5px;
  padding: 10px 20px;
}
.title {
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;

}

.content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}



.show {
  height: auto;
  display: flex;
  justify-content: center;
  text-align:left;
  max-height: 9999px;
  transition: all 0.5s cubic-bezier(0, 1, 0, 1);
}
